// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

$icon-size-sm: 24px;
$icon-size-md: 32px;

.mzp-c-menu-item {
    padding: $spacing-md 0;
    border-bottom: 1px solid $color-marketing-gray-20;

    .mzp-c-menu-item-link {
        display: block;

        &:link,
        &:visited {
            color: $color-black;
            text-decoration: none;

            .mzp-c-menu-item-title {
                border-bottom: 2px solid transparent;
            }
        }

        &:hover,
        &:active,
        &:focus {
            .mzp-c-menu-item-title {
                @include transition(border-bottom-color 100ms ease-in-out);
                border-bottom: 2px solid $color-black;
                color: $color-black;
            }
        }
    }

    .mzp-c-menu-item-head {
        display: block;

        .mzp-c-menu-item-title {
            border-bottom: 2px solid transparent;
        }
    }

    .mzp-c-menu-item-head,
    .mzp-c-menu-item-link {
        @include bidi(((padding-left, $icon-size-sm + $spacing-md, padding-right, 0),));
        position: relative;

        .mzp-c-menu-item-icon {
            @include bidi(((left, 0, right, auto),));
            height: $icon-size-sm;
            margin: 0;
            position: absolute;
            top: 0;
            width: $icon-size-sm;
        }
    }

    .mzp-c-menu-item-title {
        @include text-body-sm;
        line-height: 1.1;
        display: inline;
    }

    .mzp-c-menu-item-desc {
        display: none;
    }

    @media #{$mq-sm} {
        border-radius: $border-radius-sm;
        border: 0;
        height: 100%;
        padding: 0;
        width: auto;

        &:hover {
            @include transition(background-color 100ms ease-in-out);
            background-color: $color-marketing-gray-10;
        }

        .mzp-c-menu-item-head,
        .mzp-c-menu-item-link {
            padding-left: $spacing-md;
        }

        &.mzp-has-icon {
            .mzp-c-menu-item-head,
            .mzp-c-menu-item-link {
                @include bidi(((padding-left, $spacing-sm + $icon-size-sm + $spacing-md, padding-right, 0),));
                position: relative;

                .mzp-c-menu-item-icon {
                    @include bidi(((left, $spacing-sm, right, auto),));
                    height: $icon-size-sm;
                    margin: 0;
                    position: absolute;
                    top: $spacing-md;
                    width: $icon-size-sm;
                }
            }
        }

        .mzp-c-menu-item-link,
        .mzp-c-menu-item-head {
            @include border-box;
            height: 100%;
            padding: $spacing-md;
        }

        .mzp-c-menu-item-desc {
            @include text-body-xs;
            display: block;
            margin: $spacing-sm 0 0;
        }
    }

    @media #{$mq-md} {
        width: 200px;

        .mzp-c-menu-item-title {
            @include text-title-xxs;
        }
    }

    @media #{$mq-lg} {
        width: 260px;

        &.mzp-has-icon {
            .mzp-c-menu-item-head,
            .mzp-c-menu-item-link {
                @include bidi(((padding-left, $spacing-md + $icon-size-md + $spacing-md, padding-right, 0),));

                .mzp-c-menu-item-icon {
                    @include bidi(((left, $spacing-md, right, auto),));
                    height: $icon-size-md;
                    width: $icon-size-md;
                }
            }
        }
    }
}
