---
name: Sub-navigation
description: A secondary navigation menu, to be used in tandem with main navigation.
order: 2
links:
    Navigation Demo: /demos/navigation-new.html
---

<nav class="mzp-c-sub-navigation">
  <div class="mzp-l-content">
    <div class="mzp-c-sub-navigation-content">
      <h2 class="mzp-c-sub-navigation-title"><a href="#">Subnav Title</a></h2>
      <ul class="mzp-c-sub-navigation-list">
        <li class="mzp-c-sub-navigation-item"><a href="#">Item one</a></li>
        <li class="mzp-c-sub-navigation-item"><a href="#">Item two</a></li>
        <li class="mzp-c-sub-navigation-item"><a href="#">Item three</a></li>
        <li class="mzp-c-sub-navigation-item"><a href="#">Item four is a bit longer</a></li>
        <li class="mzp-c-sub-navigation-item"><a href="#">Item five</a></li>
      </ul>
    </div>
  </div>
</nav>
