<section class="mzp-c-footer-section-social">
  <h5 class="mzp-c-footer-heading">Follow @Mozilla</h5>
  <ul class="mzp-c-footer-list-social">
    <li><a class="twitter" href="https://twitter.com/mozilla">Twitter<span> (@mozilla)</span></a></li>
    <li><a class="instagram" href="https://instagram.com/mozilla">Instagram<span> (mozilla)</span></a></li>
  </ul>

  <h5 class="mzp-c-footer-heading">Follow @Firefox</h5>
  <ul class="mzp-c-footer-list-social">
    <li><a class="twitter" href="https://twitter.com/firefox">Twitter<span> (@firefox)</span></a></li>
    <li><a class="instagram" href="https://instagram.com/firefox">Instagram<span> (mozilla)</span></a></li>
    <li><a class="youtube" href="https://www.youtube.com/firefoxchannel">YouTube<span> (firefoxchannel)</span></a></li>
  </ul>
</section>


